@import "styles/variables.scss";
@import "styles/mixins.scss";

.context-menu{
    background-color: $dark2;
    border: 1px solid #cccccc;
    padding: 10px 0;
    width: 20rem;
    position: absolute;
    top: 200px;
    right: 80px;
    font-family: Montserrat Regular;
    font-size: $font_medium;
    color: $color-white-primary;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset -6px -6px 6px 0 $dark6, inset 6px 6px 8px 0 $dark_shadow10, inset 6px 6px 8px 0 $dark_shadow10,
    inset -6px -6px 6px 0 $dark6;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(119deg, $shadow2 0%, $shadow3 98%);
    border-image-slice: 1;
    background: linear-gradient(to bottom, $dark2, $dark2), linear-gradient(119deg, $shadow2 0%, $shadow3 98%);
    &__item{
      cursor: pointer;
      padding: 10px 15px;
    }
    &__item:hover{
      background-color: $dark2;
    }
    &__divider{
      margin: 10px 0;
      border: 1px solid $dark3;
    }
    &__arrow-left {
      width: 8px;
      height: 8px;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid $dark2;
      position: absolute;
      bottom: 0;
      transform: rotate(180deg);
      margin-bottom: 1rem;
      right: -11px;
      top: 6px;
  } 
  }