@import '../../../styles/variables.scss';

.text-white{
    padding-left: 2rem;
}
.box-shadow{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem;
    padding: 7rem 0;
    border-radius: 3%;
    z-index: 99;
    background-color: rgba($dark8, 0.8);
}
.info-card{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    transform: translate(0%, -93%);
    outline: none;
    border: none;
}
.fa-icon{
    color: #FF6600;
    font-size: 50px;
}
.card-heading{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0rem 1rem 0 1rem;
    text-align: left;
    word-spacing: 3px;
}
.number-color{
    color: royalblue;
}
.card-background{
    background-color:white;
}
.strong_number{
margin-top: 0.5rem;
font-size: 70px;
text-align: right;
font-weight: bolder;
z-index: -1;
}

.margin-top{
    transform: translate(0%, 5%);
}

@media all and (max-width: 768px) {
    .box-shadow{
        display: flex;
        font-size: 18px;
        font-weight: bold;
        z-index: 99;
        border-radius: 3%;
    }
    .strong_number{
display: none;
    }
    .margin-top{
        transform: translate(0%, 10%);
    }
    .font-size{
        font-size: 20px;
    }
  }