@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.home{
  &__banner {
    display: flex;
    position: relative;
    justify-content: center;
    // padding: 3rem 15rem;
  }
}